@using Ideascape.Data
@using Ideascape.Data.Entities
@using Ideascape.Infrastructure
@{
    ViewBag.Title = "My Ideas";
}

@{
    var ideas = new IdeaDataStore().Items;
    var rnd = new Random();
    ViewBag.Random = rnd;
    ViewBag.IdeaClasStyle = "span4";
}

<div class="alert alert-success fade in">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <strong>Congratulations!</strong>
    The CEO has just this moment <span style="font-size: 110%; font-weight: bold; font-style: italic;">+1'ed</span> your idea for
    <span style="font-weight: bold; font-style: italic;">@ideas.ElementAt(rnd.Next(0, ideas.Count())).Name</span>
</div>

@foreach (var ideaRow in ideas.Split())
{
    <div class="row-fluid" style="padding: .5em">
        @foreach (var idea in ideaRow)
        {
            @Html.Partial("_Idea", idea);
        }
    </div>
}
