@using Ideascape.Data
@using Ideascape.Data.Entities
@using Ideascape.Infrastructure
@{
    ViewBag.Title = "My Ideas";
}

@{
    var ideas = new IdeaDataStore().Items;
    var ideaNumber = 0;
}
@foreach (var ideaRow in ideas.Split())
{
    <div class="row-fluid">
        @foreach (var idea in ideaRow)
        {
            <div class="span4" style="padding: 3em">
                <h4>@idea.Name</h4>

                <p style="background-color: #ffecec">@idea.Premise</p>
                <p style="background-color: #e3fbe9">@idea.Solution</p>
                
                @foreach (var tag in idea.Tags)
                {
                    <span class="label">@tag</span>
                }
            </div>
        }
    </div>
}