@using Ideascape.Data
@{
    ViewBag.Title = "Home";

    var rnd = new Random();
    ViewBag.Random = rnd;
    ViewBag.IdeaClasStyle = "span8";
}

<h3>Timeline</h3>
<div class="well" style="margin-bottom: 5em;">
    <p>Ideascape is your workflow platform for conceiving, iterating, sharing and kickstarting brand new ideas.</p>
    <blockquote><strong><em>Have brilliant ideas, and go forth!</em></strong></blockquote>
</div>
