@model Ideascape.Models.Trending
@{
    ViewBag.Title = "Trending";
    ViewBag.Random = new Random();
    ViewBag.IdeaClasStyle = "span10";
}

<div class="row-fluid">
    <div class="span2" style="background: none">
        <h4>Trending tags</h4>
        @foreach (var tag in @Model.TrendingTags)
        {
            @Html.ActionLink(tag, "Trending", new { tag }, new{@class="label"})
        }
    </div>
    <div class="span10" style="background: none">
        @foreach (var idea in @Model.TrendingIdea)
        {
            @Html.Partial("_Idea", idea);
        }
    </div>
</div>


