.float-left {
    float: left;
}

.float-right {
    float: right;
}

.clear-fix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

html {
    overflow-y: scroll;
}

footer {
    /* ensures footer text is even more muted */
    font-size: 75%;
}

body {
    padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    cursor: default;
}

.row-fluid [class*="span"] {
  background-color: #f9f9f9;
  border-radius: 7px;
}
.row-fluid [class*="span"]:hover {
  background-color: #eee;
}

.span4 p {
  border-radius: 7px;
}